<div>
  <div style="height: 5vh">
    <nav class="p-menubar dark-top-bar">
      <label class="p-menubar-title" (click)="goBackToAdmin()">
        <i class="pi pi-arrow-left"></i>
      </label>
      <p-menubar-item>
        <div>
          <label for="projectVersion">Versions </label>
          <p-dropdown id="projectVersion" [options]="versions" [(ngModel)]="selectedVersion"
                      (onChange)="onVersionChange(selectedVersion!)" optionLabel="versionName"></p-dropdown>
        </div>
      </p-menubar-item>
      <p-menubar-item>
        <div>
          <label for="docs">Docs </label>
          <p-dropdown id="docs" [options]="versionDocs" [(ngModel)]="selectedDoc"
                      (onChange)="onDocTypeChange(selectedDoc!)" optionLabel="title"></p-dropdown>
        </div>
      </p-menubar-item>
    </nav>
  </div>
  <div style="height: 95vh">
    <app-async-viewer *ngIf="isAsyncViewer()" [yamlContent]="selectedDoc?.yamlContent!"/>
    <app-markdown-viewer *ngIf="isMarkDownViewer()" [content]="selectedDoc?.yamlContent!"/>
    <app-swagger-ui *ngIf="isOpenApiViewer() && type === 'swagger'"
                    [yamlContent]="selectedDoc?.yamlContent!"/>
    <app-stoplight-docs *ngIf="isOpenApiViewer() &&  type === 'stoplight'" [yamlContent]="selectedDoc?.yamlContent!"
                        [url]="baseUrl"/>
    <app-redoc *ngIf="isOpenApiViewer() && type === 'redoc'" [yamlContent]="selectedDoc?.yamlContent!"/>
  </div>
</div>
